.Event{
    background-color: #151515;
    border-radius: 0.5em;
    padding: 0.2em;
    margin: 0.2em 0.5em;
}
.TheaterHeader{
    color: white;
}
.date{
    color: darkgray;
    display: inline-block;
    font-size: 1.2em;
    margin-left: 0.5em;
}
.text{
    color: darkgray;
    display: block;
    margin: 2px 0px;
}

.buttonContainer{
    text-align: right;
    padding: 0.5em;
}